*{
    padding: 0px;
    margin: 0px;
}

body{
    overflow-y: hidden;
    /* overflow-x: hidden; */
    background-image: url(./Images/living-room-with-yellow-armchair-empty-dark-blue-wall-background-3d-rendering.jpg);
    color: white;
}

.head{
    position: relative;
    display: flex;
    align-items: center;
    top:20px;
}

.list{
    position: relative;
    list-style: none;
    display: flex;
    left:300px;
    align-items: center;   
    column-gap: 50px;
    border-bottom: 1px solid white;
}
.logo{
    position: relative;
    left:90px
}

.contact{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.list img{
    position: relative;
    width: 280px;
    left: -200px;
}

.call{
    position: relative;
    font-size: 15px;
    left: -250px;
    width: 300px;
}

.row-1{
    position: relative;
    display: flex;
}

.row-1-col-1{
    position: relative;
    top: 100px;
    left: 70px;
    font-size: 40px;
}

.row-1-col-2{
    position: relative;
    width:200px;
    height: 170px;
    background: rgba(204, 204, 204, 0.5);
    top:70px;
    left: 400px;
    display: block;
    row-gap: 0px;
    color: white;
}

.row-2{
    position: relative;
    display: flex;
}

.row-2-col-1 Button{
    position: relative;
    top: 100px;
    left: 70px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: rgba(204, 204, 204, 0.1);
    color: white;
    border-color: white;
}

.row-2-col-2{
    position: relative;
    width:200px;
    height: 170px;
    background: rgba(204, 204, 204, 0.5);
    top:70px;
    left: 400px;
    display: block;
    color: white;
}

.row-2-col-2 img{
    position: relative;
    left: -160px;
    top:-20px
} 

.row-1-col-2 img{
    position: relative;
    left: -20px;
} 

.row-1-col-2 p{
    position: relative;
    left: 10px;
    top:-20px
} 

.row-2-col-2 p{
    position: relative;
    left: 10px;
    top:-30px;
} 